.landing-lead{
    @extend .col-sm-12, .col-lg-6, .offset-lg-3, .py-5;
    h1{
        @extend .text-center;
    }
}

.landing-row{
  @extend .row, .align-items-end, .py-5;
  height: 90vh;
}

.landing-section{
  height: 90vh;
}

.landing-action{
    @extend .col-sm-12, .text-center;
    a{
        @extend .btn, .btn-primary;
        position: relative;
        color: $white;

        .arrow-left{
            top: 30%;
            left: -20px;
            width: 15px;
            height: 15px;
            margin-left: 40px;
            position: absolute;
            border: 2px solid #fff;
            transform: rotate(-45deg);
            transition: .3s;
            transition-timing-function: ease-in-out;
            border-left: none;
            border-top: none;
            border-radius: 1px;
        }

        .arrow-left::before{
            content: '';
            position: absolute;
            width: 30px;
            height: 2px;
            background-color: white;
            transform-origin: right;
            transform: rotate(45deg) translate(-8px,25.5px) scaleX(0);
            transition: .3s;
            transition-timing-function: ease-in;
            border-radius: 5px;
        }

        .arrow-text{
            margin-left: 42px;
        }

    }

    a:hover{
        .arrow-left::before{
            transform: rotate(45deg) translate(-12px,25.5px) scaleX(1);
            transition-timing-function: ease-out;
        }
        .arrow-left{
            left: -10px;
        }
    }
}

.landing-svg{
  @extend .col-sm-12, .col-md-6, .col-lg-4, .offset-lg-4, .offset-md-3;

  svg{
    max-height: 40vh;
  }

  svg:hover{
    transform: rotate(360deg);
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
  }
}